:root {
  --primary-text-color: #000000; /* Black */
  --secondary-text-color: #999999; /* Grey */
  --error-page-background: #0827f5; /* Blue */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  font-size: 16px;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  width: 90%;
  font-size: clamp(18px, 2.5vw + 0.1rem, 32px);
  font-family: "Noto Sans";
}

.navbar_title {
  text-decoration: none;
  color: var(--primary-text-color);
}

.navbar_menu {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.navbar_links {
  text-decoration: none;
  color: var(--primary-text-color);
}

.underline {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 5vw 0;
}

.image {
  padding: 5vw 0;
  width: 90%;
}

.popup_image {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: none;
}

.popup_image span {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 32px;
  cursor: pointer;
  z-index: 100;
  background: white;
}

.popup_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.img_yousri {
  max-width: 100%;
  height: auto;
}

.about_container {
  display: flex;
  flex-direction: column;
  width: min(80%, 250px);
  margin-inline: auto;
}

.about_description {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about_links {
  color: var(--error-page-background);
  text-decoration: none;
}

footer {
  text-align: right;
  margin-top: auto;
  padding: 16px;
  font-size: 10px;
  color: var(--secondary-text-color);
}

@media (min-width: 48em) {
  header {
    position: fixed;
    width: 100vw;
  }

  .navbar_container {
    width: 100%;
    padding-top: 8px;
    padding-inline: 16px;
  }

  body {
    overflow-y: hidden;
  }

  main {
    margin-block: auto;
  }

  .image_container {
    height: 65vh !important;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    padding-left: 30vh;
    overflow: visible;
  }

  .image {
    padding: 0;
    height: 100%;
    width: auto;
  }

  footer {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

.page-not-found {
  background-color: var(--error-page-background);
  color: white;
}

.page-not-found .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This centers content vertically on the screen */
  text-align: center; /* Center text within each element */
}

.page-not-found .title {
  padding: 24px;
}

.page-not-found .link {
  color: white;
  text-decoration: underline;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
